<h3><strong>Autor:</strong> Abel David Socarrás Polo</h3>
<p><strong>Profesión:</strong> Ingeniero Electrónico y en Telecomunicaciones</p>
<img src="/images/author.jpg" alt="Imagen del autor" height=150px>
